<launch>

    <include file="~/srb_coinfig.launch">
        </include>
    <param name="joy_node/dev" value="/dev/input/js0">
    </param>
    <node name="joy" pkg = "joy" type = "joy_node">
    </node>
    <node name="joy_to_cmd" pkg = "teleop_twist_joy" type = "teleop_node">
    </node>
    <node name="turtlesim" pkg = "turtlesim" type = "turtlesim_node">
      <remap from="/turtle1/cmd_vel" to="/cmd_vel"/>
    </node>
    <node name="edel_feet" pkg = "srb_demo" type = "agv_test"
      output="screen">
    </node>

</launch>
