<launch>
    <param name="joy_node/dev" value="/dev/input/js0">
    </param>
    <node name="joy" pkg = "joy" type = "joy_node">
          <param name="joy_node/dev" value="/dev/input/js0"/>
          <param name="autorepeat_rate" value="5"/>
    </node>
    <node name="joy_to_cmd" pkg = "teleop_twist_joy" type = "teleop_node">
        <param name="enable_button" value="6"/>
    </node>
</launch>
