<launch>
    <param name="bus_name" value="Edel-Buzh">
    </param>
    <param name="feet_motor_name" value="RosTestNode">
    </param>
    <param name="joy_node/dev" value="/dev/input/jsX">
    </param>


    <node name="ts" pkg = "joy" type = "joy_node">
    </node>


    <node name="ts" pkg = "turtlesim" type = "turtlesim_node">
    </node>
    <node name="key_ctrl" pkg = "turtlesim" type = "turtle_teleop_key"
      output="screen" launch-prefix="gnome-terminal --">
    </node>
</launch>
